services:
  # mariaDB
  my-database:
    image: mariadb:10.11
    platform: linux/x86_64 # 배포환경에서는 주석처리
    container_name: tire-app-mariadb
    restart: always
    ports:
      - '3306:3306' # 로컬:컨테이너 포트 매핑
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_DATABASE: ${DATABASE_DATABASE}
      MYSQL_USER: ${DATABASE_USERNAME}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
    command:
      # 한글/이모지 저장을 위한 UTF-8 설정
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
    volumes:
      - ./mariadb_data:/var/lib/mysql # DB 데이터를 로컬 폴더에 저장 (삭제 방지)
  # valkey
  my-valkey:
    image: valkey/valkey:8
    container_name: tire-app-valkey
    env_file:
      - .env
    hostname: ${VALKEY_HOST_NAME}
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - ./valkey_data:/data
  # S3 호환 스토리지
  my-seaweedfs:
    image: chrislusf/seaweedfs
    container_name: tire-app-seaweedfs
    restart: always
    ports:
      - '9333:9333' # Master Server (관리용)
      - '8333:8333' # Volume Server (S3 API용)
      - '8888:8888' # Filer (UI)
    command: 'server -s3 -filer -dir=/data' # S3 API 활성화 및 데이터 경로 지정
    volumes:
      - ./seaweed_data:/data # 로컬에 파일 저장
      - ./security.json:/etc/seaweedfs/security.json
  # backend
  my-backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tire-app-backend
    ports:
      - '3000:3000' # 로컬:컨테이너
    volumes:
      - .:/workspace/
      - /workspace/node_modules
    depends_on:
      - my-database
      # - my-redis
      - my-seaweedfs
    env_file:
      - .env.docker
    environment:
      - NODE_ENV=production
  #prometheus
  my-prometheus:
    image: prom/prometheus:latest
    user: root
    container_name: tire-app-prometheus
    restart: always
    ports:
      - '9090:9090' # 웹 UI 포트
    volumes:
      # 설정 파일 연결
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      # 수집한 데이터 영구 저장
      - ./prometheus_data:/prometheus
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
      - '--storage.tsdb.retention.time=15d' # 15일 저장
  # grafana
  my-grafana:
    image: grafana/grafana:latest
    user: root
    container_name: tire-app-grafana
    restart: always
    ports:
      - '3001:3000' # 로컬 3001번으로 접속
    env_file:
      - .env
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD} # 초기 비번 설정
    volumes:
      - ./grafana_data:/var/lib/grafana # 대시보드 설정 저장
    depends_on:
      - my-prometheus
  # node-exporter
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    ports:
      - 9100:9100
  # glances
  glances:
    image: nicolargo/glances:latest-full
    container_name: glances
    restart: always
    pid: host
    mem_limit: 300m
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./glances.conf:/etc/glances/glances.conf
    environment:
      - 'GLANCES_OPT=-q --export prometheus --time 10 -C /etc/glances/glances.conf'
    ports:
      - '9091:9091'
